URxvt.tabbed.autohide: true
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab

URxvt*scrollBar:                      false
URxvt*transparent:                    false
URxvt*highlightColor:                 #202020
URxvt*highlightTextColor:             #383838
URxvt*font:                           xft:Inconsolata:size=10:antialias=true:hinting=true
!URxvt*depth:                            32
URxvt*letterSpace:                    -1
URxvt*perl-ext-common: tabbedex

URxvt*foreground:   #98d1ce
URxvt*background:   #0a0f14
URxvt*cursorColor:  #98d1ce

URxvt*color0:       #0a0f14
URxvt*color8:       #10151b

URxvt*color1:       #c33027
URxvt*color9:       #d26939

URxvt*color2:       #26a98b
URxvt*color10:      #081f2d

URxvt*color3:       #edb54b
URxvt*color11:      #245361

URxvt*color4:       #195465
URxvt*color12:      #093748

URxvt*color5:       #4e5165
URxvt*color13:      #888ba5

URxvt*color6:       #33859d
URxvt*color14:      #599caa

URxvt*color7:       #98d1ce
URxvt*color15:      #d3ebe9

rofi.fg:            #98d1ce
rofi.bg:	    #0a0f14

rofi.fg-active:	    #599caa
rofi.fg-urgent:	    #d26939

rofi.hlfg-active:   #26a98b
rofi.hlfg-urgent:   #c33027

rofi.bg-active:	    #10151b
rofi.bg-urgent:	    #081f2d

rofi.hlbg-active:   #093748
rofi.hlbg-urgent:   #195465

rofi.bc:	    #4e5165
