URxvt.tabbed.autohide: true
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab

URxvt*scrollBar:                      false
URxvt*transparent:                    false
URxvt*highlightColor:                 #202020
URxvt*highlightTextColor:             #383838
URxvt*font:                           xft:Inconsolata:size=10:antialias=true:hinting=true
!URxvt*depth:                            32
URxvt*letterSpace:                    -1
URxvt*perl-ext-common: tabbedex

URxvt*background:  #eeeeee
URxvt*foreground:  #444444
URxvt*cursorColor: #5f87af
URxvt*color0:      #444444
URxvt*color8:      #444444
URxvt*color1:      #af0000
URxvt*color9:      #af0000
URxvt*color2:      #008700
URxvt*color10:     #008700
URxvt*color3:      #af5f00
URxvt*color11:     #af5f00
URxvt*color4:      #005faf
URxvt*color12:     #005faf
URxvt*color5:      #870087
URxvt*color13:     #870087
URxvt*color6:      #008787
URxvt*color14:     #008787
URxvt*color7:      #eeeeee
URxvt*color15:     #eeeeee

rofi.fg:            #444444
rofi.bg:	    #eeeeee

rofi.fg-active:	    #008787
rofi.fg-urgent:	    #af0000

rofi.hlfg-active:   #008700
rofi.hlfg-urgent:   #af0000

rofi.bg-active:	    #444444
rofi.bg-urgent:	    #008700

rofi.hlbg-active:   #005faf
rofi.hlbg-urgent:   #005faf

rofi.bc:	    #870087
